body {
    color: white;
    background-color: rgb(18, 31, 31);
}

header {
    text-align: center;
}

#content-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    filter: grayscale();
    transition: 0.3s;
}

img:hover {
    transform: scale(1.10);
    filter: none;
}

#names-container ul li {
    list-style-type: none;
    width: 100%;
    padding: 25px 25px;
    margin: 10px 0px;
    border: 1px solid white;
    text-align: center;
    transition: 0.3s;
}

#names-container ul li:hover {
    background-color: white;
    color: black;
}